.idea/*
target
.terraform/
*.tfstate
*.tfstate.backup
*.log
*.pem
*.exe
.terraform.lock.hcl
.terraform.tfplan
.terraform.tfstate.backup
.terraform.tfstate.lock.info
terraform.tfstate

# Ignore all terraform.tfvars files
terraform.tfvars
app_servers/terraform.tfvars
ansible_server/terraform.tfvars
